*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Suse';
}

body, html{
     height: 100%;
     width: 100%;
     padding: 10px;
     background-color: #e5e5e5;
}

#tabs{
     display: flex;
     gap: 20px;
}

.tab{
     padding: 10px;
     background-color: #f3f3f3;
     border: #ccc;
     border-radius: 10px;
     font-weight: 700;
     cursor: pointer;
}

h3{
     margin-top: 20px;
     width: 50%;
     display: none;
}

